html{
  font-size: 20px;
  color: black;
  background-color: white;
}

nav{
  margin-left: 5%;
  margin-right: 5%;
}

#logo{
  align-content: center;
  margin-left: 5%;
  margin-right: 0;
  padding-top: 5%;
  height: 6rem;

}

a{
  font-size: 20px;

}

#navcontpad{
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: black;

}

#header{

  margin-right: 20%;
  margin-left: 0;

}



#navbarbrand span{
  color: silver;
}

#navbarbrand{
  color: black;
  font-weight: 800;
}





#containerbanner{
  padding-bottom: 2%;
  margin-top: 10%;
  margin-right: 5%;
  background-color: silver;
  margin-left: 5%;
  margin-right: 5%;
  border-left: 2px solid silver;
  border-right: 2px solid silver;

}

#banner{
  margin-top: 3rem;

  margin-bottom: 2rem;
}

#bannerpic{
  margin-top: 4%;
  height: 26rem;
}



#bannerinfo{
  margin-top: 3rem;
  align-items: center;
  align-content: center;
  justify-content: center;

}

#recruitinfo{
  padding: 3%;
}

#recruitpic{
  margin-top: 3.8%;
}



#h2info{
  margin: 5%;
  text-align: center;
  font-weight: 800;
}
#parainfo{
  margin: 5%;
  text-align: center;
}
#button{
    font-size: 20px;
    font-weight: 600;
    margin: 5%;
    color: white;
    background-color: gray;
    width: 60%;
    height: 3rem;
    margin-left: 25%;
    padding-top: 2%;
    padding-bottom: 4%;
    text-align: center;
}


#orientcont{
  margin-left: 5%;
  margin-right: 5%;

  padding-bottom: 4%;
  padding-top: 4%;
  border-left: 2px solid silver;
  border-right: 2px solid silver;

}

#allorienation{
  margin-top: 0;

}

#btnread{
  background-color: silver;
  }

  #button:hover, #btnread:hover{
    background-color: rgba(255, 128, 0, 0.5);
    color: white;
    }

.keeppractice{
  font-weight: 800;
  text-align: center;
  padding: 2%;
  margin-top: 5rem;

}


.website{
  text-align: center;
  font-weight: 700;
  font-style: italic;
}

.practiceperfect{
  text-align: center;
  padding: 2%;
  margin: 2%;

}

#orientation,
#campus,
#guestlecturer{

  padding: 2%;
  margin: 2%;
  height: 30%;
  text-align: center;
  align-items: center;
  align-content: center;
}

#photheight{
  height: 10rem;

}


#thirdcontainer{
  margin-top: 0;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 3%;
  padding-top: 1%;
  padding-right: 2%%;
  padding-bottom: 3%;
  background-color: silver;
  border-left: 2px solid silver;
  border-right: 2px solid silver;
}

.startheading{
  text-align: center;
  font-weight: 800;
  padding-left: 2%;
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 3%;
}

#rowtop{
  padding: 3%;
}

#rowone{
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;

}

h1,h2,h3,p{
  text-align: center;
  margin: 3%;

}

h1{
  font-weight: 800;
}


#coursebox{
  background-color: white;
  margin: 1%;
  width:30%;
  height: 32%;
}

#photos{
  margin-top: 5%;

}

#videoframe{
  margin-top: 3.8%;
  height: 18rem;
}

#thesis{
  margin-right: 0;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 4%;
  border-left: 2px solid silver;
  border-right: 2px solid silver;
}

#recruit{
  margin-right: 0;
}

#fisma{
  padding-left: 0px;;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 30%;
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: silver;
}

#now{
  padding-left: 0px;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 30%;
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: silver;

}



#reimaginephoto{
    height: 10rem;
    margin: 0px;
}

#footdiv{
  border-top: 1px solid gray;
  border-bottom: 2px solid silver;
  border-left: 2px solid silver;
  border-right: 2px solid silver;
  height: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 7rem;
  padding: 3%;

}

#bottommenu{
  color: black;
  font-size: 16px;
}

@media only screen and (max-width: 480px){
  #bannerpic{
    margin-top: 4%;
  }
}



#item-input  {
  width: 30%;
  height: 2rem;
  padding: 0 20px;
  border: none;
  margin-right: 5px;
  background: rgba(255, 255, 255, .85);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
  color: #473e39;
  margin-left: 15rem;

}

#item-input:focus {
  background: rgba(255, 255, 255, .95);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
  outline: none;
}

#buttoninput {

  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: gray;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
  color: #fff;
  font-family: 'Arvo', serif;
  font-size: 16px;
  height: 2rem;
  width: 10%;
  padding-top: 1%;

}

#buttoninput:hover, #buttoninput:hover{
  background-color: rgba(0, 129, 255, 0.95);
  cursor: pointer;
}


.list {
  margin-top: 30px;
}

.list li {
  display: flex;
  align-items: center;
  max-width: 520px;
  padding: 20px;
  margin: 0 auto 5px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
  color: #473e39;
}

.list li span {
  flex-grow: 1;
}

.list li .glyphicon-remove {
  margin-right: 10px;
  cursor: pointer;
}

.list li .glyphicon-remove:hover {
  color: #ed1c24;
}
