html{
  font-size: 20px;
  color: black;
  background-color: white;
}

nav{
  margin-left: 5%;
  margin-right: 5%;
}

#logo{
  align-content: center;
  margin-left: 5%;
  margin-right: 0;
  padding-top: 5%;
  height: 6rem;

}

#navcontpad{
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: black;

}

#header{

  margin-right: 20%;
  margin-left: 0;

}

.navbar-brand{
  font-weight: 700;
}

#navbarbrand span{
  color: gray;
}

#navbarbrand{
  color: black;
}





#containerbanner{
  padding-bottom: 2%;
  margin-top: 10%;
  margin-right: 5%;
  background-color: gray;
  margin-left: 5%;
  margin-right: 5%;
  border-left: 2px solid gray;
  border-right: 2px solid gray;

}

#banner{
  margin-top: 3rem;
  margin-left: 2.4rem;
  margin-bottom: 2rem;
}

#bannerpic{
  padding-top: 5%;
  height: 26rem;

}

#bannerinfo{
  margin-top: 3rem;
  align-items: center;
  align-content: center;
  justify-content: center;

}

#recruitinfo{
  padding: 3%;
}

#recruitpic{
  margin-top: 3.8%;
}

#h2info{
  margin: 5%;
  text-align: center;
  font-weight: 800;
}
#parainfo{
  margin: 5%;
  text-align: center;
}
#button{
    text-align: center;
    margin: 5%;
    color: white;
    background-color: black;
    width: 60%;;
    margin-left: 25%;;
}

#orientcont{
  margin-left: 5%;
  margin-right: 5%;

  padding-bottom: 4%;
  padding-top: 4%;
  border-left: 2px solid gray;
  border-right: 2px solid gray;

}

#allorienation{
  margin-top: 0;

}

.keeppractice{
  font-weight: 800;
  text-align: center;
  padding: 2%;
  margin-top: 5rem;

}

.website{
  text-align: center;
  font-weight: 700;
  font-style: italic;
}

.practiceperfect{
  text-align: center;
  padding: 2%;
  margin: 2%;

}

#orientation,
#campus,
#guestlecturer{

  padding: 2%;
  margin: 2%;
  height: 30%;
  text-align: center;
  align-items: center;
  align-content: center;
}

#photheight{
  height: 10rem;

}


#thirdcontainer{
  margin-top: 0;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 3%;
  padding-top: 1%;
  padding-right: 2%%;
  padding-bottom: 3%;
  background-color: gray;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

.startheading{
  text-align: center;
  font-weight: 800;
  padding-left: 2%;
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 3%;
}

#rowtop{
  padding: 3%;
}

#rowone{
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;

}

h1,h2,h3,p{
  text-align: center;
  margin: 3%;

}


#coursebox{
  background-color: white;
  margin: 1%;
  width:30%;
  height: 32%;
}

#photos{
  margin-top: 5%;

}

#videoframe{
  margin-top: 3.8%;
  height: 18rem;
}

#thesis{
  margin-right: 0;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 4%;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}

#recruit{
  margin-right: 0;
}

#fisma{
  padding-left: 0px;;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 30%;
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: gray;
}

#now{
  padding-left: 0px;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 30%;
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: gray;

}



#reimaginephoto{
    height: 10rem;
    margin: 0px;
}

#footdiv{
  border-top: 1px solid gray;
  border-bottom: 2px solid gray;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  height: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 7rem;
  padding: 3%;

}
